<a href="https://colab.research.google.com/github/Heebaashrafi/heeba-project/blob/main/HADOOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [10]:
from pyspark.sql import SparkSession
import pyspark
#initialize the spark
spark=SparkSession.builder.appName("Example 1").getOrCreate()
data_df=spark.read.csv("stud.csv")
data_df.show()
data_df.head()
data_df.tail(5)

+-------+---+------+
|    _c0|_c1|   _c2|
+-------+---+------+
|   Name|Age|Course|
| Heeba1| 22|    IT|
| Heeba2| 22|    IT|
| Heeba3| 22|    IT|
| Heeba4| 22|    IT|
| Heeba5| 22|    IT|
| Heeba6| 22|    IT|
| Heeba7| 22|    IT|
| Heeba8| 22|    IT|
| Heeba9| 22|    IT|
|Heeba10| 22|    IT|
+-------+---+------+

[Row(_c0='Heeba6', _c1='22', _c2='IT'),
 Row(_c0='Heeba7', _c1='22', _c2='IT'),
 Row(_c0='Heeba8', _c1='22', _c2='IT'),
 Row(_c0='Heeba9', _c1='22', _c2='IT'),
 Row(_c0='Heeba10', _c1='22', _c2='IT')]

In [16]:
#joining two different data frames
from pyspark.sql import SparkSession
import pyspark
#initialize the spark
spark=SparkSession.builder.appName("Example 2").getOrCreate()
#create dataframe
data1=[("zaid",1),("dhwani",2),("adam",3),("heeba",4)]
data2=[("zaid","engineer"),("dhwani","teacher"),("adam","student"),("heeba","CEO")]
col1=["NAME","NO"]
col2=["NAME","PROFESSION"]
df1=spark.createDataFrame(data1,col1)
df2=spark.createDataFrame(data2,col2)

#JOINING DATAFRAMES
joined_df=df1.join(df2,"NAME","inner")
joined_df.show()
spark.stop()

+------+---+----------+
|  NAME| NO|PROFESSION|
+------+---+----------+
|  adam|  3|   student|
|dhwani|  2|   teacher|
| heeba|  4|       CEO|
|  zaid|  1|  engineer|
+------+---+----------+

In [18]:
from pyspark.sql import SparkSession
import pyspark
#initialize the spark
spark=SparkSession.builder.appName("Example 3").getOrCreate()
data1=[("zaid",1),("dhwani",2),("adam",3),("heeba",4),("rahul",5),("umang",6)]
data2=[("zaid","engineer"),("dhwani","teacher"),("adam","student"),("heeba","engineer"),("rahul","student"),("umang","teacher")]
col1=["name","no"]
col2=["name","profession"]

df=spark.createDataFrame(data2,col2)
group_df=df.groupBy("profession").count()
group_df.show()

+----------+-----+
|profession|count|
+----------+-----+
|   teacher|    2|
|   student|    2|
|  engineer|    2|
+----------+-----+

In [19]:
from pyspark.sql import SparkSession
import pyspark
#initialize the spark
spark=SparkSession.builder.appName("Example 4").getOrCreate()
#create dataframe
data1=[("zaid",1),("dhwani",2),("adam",3),("heeba",4)]
data2=[("zaid","engineer"),("dhwani","teacher"),("adam","student"),("heeba","CEO")]
col1=["NAME","NO"]
col2=["NAME","PROFESSION"]

df1=spark.createDataFrame(data1,col1)
df2=spark.createDataFrame(data2,col2)

union_df=df1.union(df2)
union_df.show()
spark.stop()

+------+--------+
|  NAME|      NO|
+------+--------+
|  zaid|       1|
|dhwani|       2|
|  adam|       3|
| heeba|       4|
|  zaid|engineer|
|dhwani| teacher|
|  adam| student|
| heeba|     CEO|
+------+--------+

In [32]:
#write a program with function using a.collect,filter,map,mapreduce,reduce

from pyspark.sql import SparkSession
import pyspark
#initialize the spark
spark=SparkSession.builder.appName("Example 5").getOrCreate()
data=[1,2,3]
rdd=spark.sparkContext.parallelize(data)
collected_data=rdd.collect()
print("Collect:",collected_data)


#filter
filter_rdd=rdd.filter(lambda x:x%2==0)
filter_data=filter_rdd.collect()
print("Even:",filter_data)

#mapping
#square of each value

rdd=spark.sparkContext.parallelize(data)
sq_rdd=rdd.map(lambda x: x**2)

print("square:", sq_data)

#mapreduse
rdd=spark.sparkContext.parallelize(data)
sq_rdd=rdd.map(lambda x: x**2).reduce(lambda a,b:a+b)

print("mapreduce: ",sq_rdd)

Collect: [1, 2, 3]
Even: [2]
square: [1, 4, 9, 16, 25, 36, 49, 64, 81]
mapreduce:  14